.service-icon {
    width: 18px;
    height: 18px;
}

.author-icon {
    width: 18px;
    height: 18px;
}

.service-name {
    color: #AAA;
}

.author-name {
    color: #AAA;
}

.title {
    font-weight: bold;
}

.attachment {
    display: flex;
    padding-left: 10px;

    padding-top: 3px;
    padding-bottom: 3px;

    border-left-width: 3px;
    border-left-style: solid;
}

.thumbnail {
    width: 80px;
    height: auto;
    border-radius: 3px;
    border-style: none;
}

.image {
    margin-top: 5px;
    border-radius: 3px;
    border-style: none;

    max-width: 100%;
}

.small {
    max-width: 25% !important;
}


.right {
    margin-left: 10px;
    margin-right: 10px;
}

.footer-icon {
    height: 1em;
}

.footer-icon-image {
    height: 1.2em;
}

.footer-text {
    color: #AAA;
    font-size: small;
}

.footer-ts {
    color: #AAA;
    font-size: small;
}
