<div *ngIf="showForm" class="message-form">
    <ss-messageform
        [channelName]="submitContext.channelName"
        [channelID]="submitContext.channelID"
        [teamID]="submitContext.teamID"
        (submit)="submitForm($event)"
        (close)="closeForm()"
    >
    </ss-messageform>
</div>

<table class="table table-striped">
    <tr *ngFor="let info of messages">
        <td>
            <img class="user-thumbnail" [src]="info.message.userThumbnail"/>
        </td>

        <td>
            <div class="header">
                <img class="team-thumbnail" [src]="info.message.teamThumbnail"/>
                <span class="user-name">{{info.message.userName}}</span>
                <ss-channelname [channelName]="info.message.channelName" [channelID]="info.message.channelID" [teamID]="info.message.teamID"></ss-channelname>
                <span *ngIf="showTeamName" class="team-name">({{info.message.teamName}})</span>
                <span class="timestamp">{{info.message.ts | ts2time}}</span>
            </div>

            <div class="contents">
                <span [innerHTML]="info.text | safeHtml"></span>
                <span *ngIf="info.edited" class="edit-mark"> (edited)</span>
            </div>

            <div class="buttons">
                <span class="glyphicon glyphicon-pencil message-button icon-button" (click)="onClickWrite(info)"></span>
            </div>

            <div *ngFor="let attachment of info.attachments">
                <ss-attachment [attachment]="attachment"></ss-attachment>
            </div>
        </td>
    </tr>

</table>
