table {
  table-layout: fixed;
  width: 100%;
}

td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

td:nth-child(1) {
  width: 40px;
}

a {
  word-break: break-all;
}

.edit-mark {
  font-size: small;
  color: #aaaaaa;
}

.timestamp {
  font-size: small;
  color: #aaaaaa;
  float: right;
}

.user-name {
  font-weight: bold;
}

.user-thumbnail {
  width: 32px;
  height: 32px;

  border-radius: 3px;
}

.team-thumbnail {
  width: 16px;
  height: 16px;

  border-radius: 3px;
}

.channel-name {
  font-weight: bold;
}

.contents {
  margin-top: 0px;
}

.message-form {
  width: 100%;
}

.icon-button {
    opacity: 0.5;
}

.icon-button:hover {
    opacity: 1;
    cursor: pointer;
}

.solo-mode {
    color: lightgreen;
    opacity: 1;
}

.solo-mode:hover {
    opacity: 0.5;
    cursor: pointer;
}

.buttons {
    text-align: right;
    margin-top: -2px;
    margin-bottom: -2px;
}

.reactions {
    display: flex;
    flex-wrap: wrap;
}

.reaction {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    padding-top: 2px;
    padding-bottom: 0;
    padding-right: 4px;

    border: solid 1px #dddddd;
    border-radius: 0.5em;
}

.reaction-count {
    margin-left: -3px;
    font-size: smaller;
}

.reaction:hover {
    border: solid 1px skyblue;
    cursor: pointer;
}

.my-reaction {
    border: solid 1px skyblue;
    color: skyblue;
}

.reaction img {
    min-width: 0;
    min-height: 0;
    width: 1em;
    height: 1em;
}

.hide-buttons {
    opacity: 0;
}

.hide-buttons:hover {
    opacity: 1;
}

.shared-image {
    max-width: 100%;
}