table {
  table-layout: fixed;
  width: 100%;
}

td {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

td:nth-child(1) {
  width: 40px;
}

a {
  word-break: break-all;
}

.edit-mark {
  font-size: small;
  color: #aaaaaa;
}

.timestamp {
  font-size: small;
  color: #aaaaaa;
  float: right;
}

.user-name {
  font-weight: bold;
}

.user-thumbnail {
  width: 32px;
  height: 32px;

  border-radius: 3px;
}

.team-thumbnail {
  width: 16px;
  height: 16px;

  border-radius: 3px;
}

.channel-name {
  font-weight: bold;
}

.contents {
  margin-top: 0px;
}

.message-form {
  width: 100%;
}

.icon-button {
    opacity: 0.5;
}

.icon-button:hover {
    opacity: 1;
    cursor: pointer;
}

.buttons {
    text-align: right;

    margin-top: -2px;
    margin-bottom: -2px;
}

.reaction {
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1px;
    padding-right: 1px;

    border: solid 1px #aaaaaa;
    border-radius: 3px;

    font-size: small;
}

.reaction img {
    height: 5px;
}