<div class="container">
    <div class="setting">
        <h3>Token</h3>
        <div>
            Visit <a href="https://api.slack.com/custom-integrations/legacy-tokens">here</a> and input your token.
        </div>

        <div *ngFor="let index of tokenIndexes">
            <div class="input-group token">
                <input type="text" class="form-control" [(ngModel)]="tokens[index]" placeholder="Your token">
                <span class="input-group-btn">
                    <button class="btn" (click)="removeToken(index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>
        </div>

        <button class="btn btn-primary btn-sm" (click)="addToken()">Add new token</button>

        <h3>View Settings</h3>
        <div>
            <input type="checkbox" value="true" id="hide-buttons-checkbox" [(ngModel)]="hideButtons">
            <label for="hide-buttons-checkbox">Hide buttons</label>
        </div>
    </div>

    <hr>
    <button class="btn btn-primary" (click)="exit()">Save</button>
</div>
