<div class="message-form">
    <div class="message-window">
    <ss-channelname [channelName]="channelName" [channelID]="channelID" [teamID]="teamID"></ss-channelname>
    <span class="glyphicon glyphicon-remove pull-right message-close" (click)="onClose()"></span>
    <textarea
        type="text"
        class="form-control message-textarea"
        placeholder="Message"
        wrap="soft"
        rows="3"
        id="slack_message_input"
        (keypress)="onKeyPress($event, textArea)"
        [autofocus]
        #textArea
    ></textarea>
    <button class="btn btn-default btn-xs pull-right" type="button" (click)="onSubmit(textArea.value)">Post</button>
    </div>
</div>
